---
layout: page
title: "Хроники"
eleventyComputed:
  pageTitle: "{{ site.title }}"
summary: "Кратки публикации, статии и есета; писани главно за мен, а понякога и за други, също."
date: "Last Modified"
permalink: /articles/
override:tags: ["page"]
---

{%- for post in collections.articles %}
  {%- assign currentdate = post.date | date: "%Y" %}
  {%- if currentdate != date %}
    {%- unless forloop.first %}</ol>{%- endunless %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    <ol>
    {%- assign date = currentdate %}
  {%- endif %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a> ({{ post.date | datetime: "dd MMMM yyyy" }})
    </li>
  {%- if forloop.last %}
    </ol>
  {%- endif %}
{%- endfor %}
