<!doctype html>
<html lang="{{ site.lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle | strip_html }}</title>
  <link rel="canonical" href="{{ canonicalUrl }}">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" href="/assets/icons/favicon.ico" sizes="any">
  <link rel="icon" href="/assets/icons/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <meta name="description" content="{{ summary | default: site.description | strip_html | strip_newlines | strip }}">
  <meta name="theme-color" content="{{ site.themeColor }}" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="{{ site.themeColorDark }}" media="(prefers-color-scheme: dark)">
  <meta name="supported-color-schemes" content="light dark">
  <meta name="robots" content="{% if robots == true %}noindex{% else %}index{% endif %},follow">
  <meta name="generator" content="{{ eleventy.generator }}">
</head>

<body>
  <header role="banner">
  </header>
  {{ content }}
  <footer role="contentinfo">
  </footer>
</body>

</html>
