{%- layout 'base' -%}
{%- block 'main' -%}
<main class="main" role="main" id="main" tabindex="-1">

  <h1>{{ title }}</h1>

  <section>
    {{ layoutContent }}
  </section>

  <section>
    <h2>Наскоро записано</h2>
      <ol role="list">
        {%- for item in collections.articles | limit: 3 %}
        <li>
          <time datetime="{{ item.date | date: '%Y-%m-%dT%H:%M:%S.%L%:z' }}">
            {{ item.date | date: '%d.%m.%Y' }}
          </time>
          <span aria-hidden="true"> · </span>
          <a class="u-url" rel="bookmark" href="{{ item.url }}">
            {{ item.data.title }}
          </a>
          {%- if item.data.summary %}
          <p>{{ item.data.summary }}</p>
          {%- endif %}
        </li>
        {%- endfor %}
      </ol>
      <p>Към всички <a href="/articles/">записки</a>.</p>
  </section>

</main>
{%- endblock -%}
