{%- layout 'base' -%}

{% block 'main' -%}
<main id="main">

  <h1>{{ title }}</h1>

  {{ layoutContent }}

  <h2>Latest articles</h2>
  <ol>
  {%- for item in collections.articles | limit: 3 %}
    <li>
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {{ item.data.title }}
      </a>
      <time datetime="{{ item.date | date: '%Y-%m-%dT%H:%M:%S.%L%:z' }}">
        {{ item.date | date: '%d.%m.%Y' }}
      </time>
    </li>
  {%- endfor %}
  </ol>

<p>More articles can be found in <a href="/articles/">the archive</a>.</p>

{%- assign posts = collections.articles | reverse %}

{%- assign thisYear = "now" | date: "%Y" %}
{%- assign firstPost = collections.articles | first %}
{%- assign firstYear = firstPost.date | date: "%Y" %}

Every.... single post. Ever

{%- for year in (firstYear..thisYear) reversed %}

	<details>
		<summary>{{year}}</summary>
		<h3>Posts for {{ year }}</h3>
    <ol>
		{%- for post in posts %}
			{%- assign postYear = post.date | date: "%Y" | plus: 0 %}
      {%- if postYear == year %}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a> ({{ post.date | datetime: "dd MMMM yyyy" }})</li>
			{%- endif %}
		{%- endfor %}
    </ol>
	</details>
{%- endfor %}

</main>
{% endblock %}
