---
eleventyExcludeFromCollections: true
permalink: /feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>{{ site.url }}{{ page.url }}</id>
  <title>{{ site.title }}</title>
  <updated>{{ 'now' | datetime: dateToRfc3339 }}</updated>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
    <uri>{{ site.author.url }}</uri>
  </author>
  <link rel="self" href="{{ '/feed.xml' | absolute_url: site.url }}" type="application/atom+xml"/>
  <link rel="alternate" href="{{ site.url }}" type="text/html"/>
  <link rel="hub" href="http://pubsubhubbub.superfeedr.com/"/>
  <icon>{{ '/favicon.ico' | absolute_url: site.url }}</icon>
  <rights>&#169; {{ 'now' | date: '%Y' }} {{ site.author.name }}. Content Creative Commons licensed unless otherwise stated.</rights>
{% for item in collections.articles limit: 10 -%}
  <entry>
    <id>{{ item.url | absolute_url: site.url }}</id>
    <title>{{ item.data.title | markdown: 'inline' | escape | strip_html | strip_newlines }}</title>
    <updated>{{ item.date | datetime: dateToRfc3339 }}</updated>
    {% if item.data.url -%}
    <link rel="alternate" href="{{ item.data.url }}" type="text/html"/>
    <link rel="related" href="{{ item.url | absolute_url: site.url }}" type="text/html"/>
    {% elsif item.data.in_reply_to -%}
    <link rel="alternate" href="{{ item.data.in_reply_to }}" type="text/html"/>
    <link rel="related" href="{{ item.url | absolute_url: site.url }}" type="text/html"/>
    {% else -%}
    <link rel="alternate" href="{{ item.url | absolute_url: site.url }}" type="text/html"/>
    {% endif -%}
    <content type="html"><![CDATA[{{ item.templateContent }}]]></content>
  </entry>
{% endfor -%}
</feed>
