---
eleventyExcludeFromCollections: true
permalink: /feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
  <id>{{ site.url }}{{ page.url }}</id>
  <title>{{ site.title }}</title>
  <updated>{{ 'now' | date: '%Y-%m-%dT%H:%M:%S.%L%:z' }}</updated>
  <author>
    <name>{{ site.author.name | capitalize }}</name>
    <email>{{ site.author.email }}</email>
    <uri>{{ site.author.url }}</uri>
  </author>
  <link rel="self" href="{{ permalink | absoluteUrl: site.url }}" />
  <link rel="alternate" href="{{ site.url }}" type="text/html" />
  <link rel="hub" href="http://pubsubhubbub.superfeedr.com/" />
  <icon>{{ '/favicon.ico' | absoluteUrl: site.url }}</icon>
  <rights>&#169; {{ 'now' | date: '%Y' }} {{ site.author.name | capitalize }}. Content Creative Commons licensed unless otherwise stated.</rights>
  {%- for item in collections.articles | limit: 10 %}
  {%- assign absolutePostUrl = item.url | absoluteUrl: site.url %}
  <entry>
    <id>{{ absolutePostUrl }}</id>
    <title>{{ item.data.title | markdown: 'inline' | escape | strip_html | strip_newlines }}</title>
    <updated>{{ item.date | date: '%Y-%m-%dT%H:%M:%S.%L%:z' }}</updated>
    {%- if item.data.url %}
    <link rel="alternate" href="{{ item.data.url }}" type="text/html"/>
    <link rel="related" href="{{ item.url | absoluteUrl: site.url }}" type="text/html"/>
    {% elsif item.data.in_reply_to %}
    <link rel="alternate" href="{{ item.data.in_reply_to }}" type="text/html"/>
    <link rel="related" href="{{ item.url | absoluteUrl: site.url }}" type="text/html"/>
    {% else %}
    <link rel="alternate" href="{{ item.url | absoluteUrl: site.url }}" type="text/html"/>
    {%- endif %}
    <content xml:lang="{{ site.locale }}" type="html"><![CDATA[{{ item.templateContent | escape | strip_newlines }}]]></content>
  </entry>
  {%- endfor %}
</feed>
